@import"./detalles/variables";
@import"./detalles/mixins.scss";
@import"./detalles/detalles";
@import"./fijos/header.scss";
@import"./fijos/footer.scss";



.barra{
    width: 320px;
    height: 60px;
    font-family:$f1 ;
    text-transform: uppercase;
    font-size: map-get($fuentes, text-small );
    
}

h2{
    color: $bordes;
    font-size: map-get($fuentes,text-large );
    font-family: $f2;
    text-transform: uppercase;
    background-color: rgba(210, 105, 30, 0.815);
    display: inline;
    border-radius: 10px;
    
}

.burger1{
@include medida(250px, 300px, inset, $secundario,8px);
object-fit: cover

}

.bb1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    
}


.b1{
  
    
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
  
}

.especiales{
    
    top: 10px;
    left: 10px;
    background-color:$secundario;
    text-transform: uppercase;
    border-radius: 4px;
    font-family:$f3;
    
    
}

.pizz-a{
@extend.burger1;
    
    
}

.beb{
    @include medida(300px, 300px, inset, $secundario,8px);
    @extend.burger1;
}

.trag{
    @include medida(300px, 300px, inset, $secundario,8px);
    @extend.burger1;
}



@media (max-width:800px) and (min-width:360px) {
    .barra{
        width: 150p;
        height: 30px;
        font-family:$f1 ;
        text-transform: uppercase;
        font-size: map-get($fuentes, text-xsmall );
        
    }
    
    .bb1{
        display: grid;
        grid-template-columns: 3fr;
        margin: 10px;
        
    }
    h2{
        color: $bordes;
        font-size: map-get($fuentes,text-lmedium );
        font-family: $f2;
        text-transform: uppercase;
        background-color: rgba(210, 105, 30, 0.815);
        display: inline;
        border-radius: 10px;
        
    }
    .burger1{
        @include medida(200px, 250px, inset, $secundario,8px);
        margin-top: 20px;
        object-fit: cover
        }
        
}