@import"./detalles/variables";
@import"./detalles/detalles";
@import"./fijos/header.scss";
@import"./fijos/footer.scss";



.barra{
    width: 275px;
    height: 60px;
    font-family:$f1 ;
    text-transform: uppercase;
    font-size: 20px;
    
}

h2{
    color: $primario;
    font-size: 60px;
    font-family: $f2;
    text-transform: uppercase;
    background-color: rgba(210, 105, 30, 0.74);
    display: inline;
    border-radius: 10px;
    
}

.burger1{
    width: 250px;
    height: 300px;
   border-style:inset ;
   border-color:$secundario;
}

.bb1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
}


.b1{
  
    
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
  
}

.especiales{
    
    top: 10px;
    left: 10px;
    background-color:$secundario;
    text-transform: uppercase;
    border-radius: 4px;
    font-family:$f3;
    
}

.pizz-a{

    width: 250px;
    height: 300px;
    border-style:inset ;
    border-color: $secundario;
}

.beb{
    width: 300px;
    height: 300px;
    border-style:inset ;
    border-color:$secundario;
}

.trag{
    width: 300px;
    height: 300px;
    border-style:inset ;
    border-color: $secundario;
    
}




@media (max-width:800px) and (min-width:360px) {
    
    .bb1{
        display: grid;
        grid-template-columns: 3fr;
    }
}