@import"./detalles/variables";
@import"./detalles/detalles";
@import"./fijos/header.scss";
@import"./fijos/footer.scss";



.barra{
    width: 275px;
    height: 60px;
    font-family: 'Fascinate', cursive;
    text-transform: uppercase;
    font-size: 20px;
    
}

h2{
    color: $primario;
    font-size: 60px;
    font-family: fantasy;
    text-transform: uppercase;
}
.burger1{
    width: 250px;
    height: 300px;
   border-style:inset ;
   border-color:$secundario;
}

.bb1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
}


.b1{
  
    
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
  
}

.especiales{
    
    top: 10px;
    left: 10px;
    background-color:$secundario;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    
}

.pizz-a{

    width: 250px;
    height: 300px;
    border-style:inset ;
    border-color: $secundario;
}

.beb{
    width: 300px;
    height: 300px;
    border-style:inset ;
    border-color:$secundario;
}

.trag{
    width: 300px;
    height: 300px;
    border-style:inset ;
    border-color: $secundario;
    
}




@media (max-width:800px) and (min-width:360px) {
    header label{
        display:block;  
    }
    ul{
        position: absolute;
        background:$terciario;
        width: 60%;
        margin-left: -70%;
        transition: all 1s;
        z-index: 1;
    }
    ul{
        flex-direction: column;
        
    }
    #bb:checked ~ ul{
        margin: 0;
    }
    
    .bb1{
        display: grid;
        grid-template-columns: 3fr;
    }
}