@import"../detalles/variables";
@import"../detalles/detalles";
@import"../fijos/header.scss";
@import"../fijos/footer.scss";
.p-r{
    color: $bordes;
    font-size: map-get($fuentes,text-medium );
    font-family: $f2;
    text-align: center;
    background-color: rgba(210, 105, 30, 0.815);
    display: inline;
    border-radius: 10px;
    text-transform: uppercase;
   }
   img{
    width: 100px;
    height: 100px;
    object-fit: cover
    
   }
   
   @media (max-width:800px) and (min-width:360px){

  .p-r{
    color: $bordes;
    font-size: map-get($fuentes,text-medium );
    font-family: $f2;
    text-align: center;
    background-color:  rgba(210, 105, 30, 0.815);
    display: inline;
    border-radius: 10px;
    text-transform: uppercase;
    object-fit: cover
   } 
  }