
/*colores*/
$primario:#d27300;
$secundario: #ff7f50;
$terciario:#d2691e;
$bordes:black;

/*fuentes*/
$f1: 'Alumni Sans Inline One';
$f2:fantasy;
$f3: 'Times New Roman', Times, serif;


//map
$fuentes:(
    text-large:60px,
    text-medium:50px,
    text-lmedium:40px,
    text-base:30px,
    text-small:25px,
    text-lsmall:15px,
    text-xsmall:10px,
)
