/*colores*/
$primario: brown;
$secundario: coral;
$terciario:chocolate;
$bordes:black;

/*fuentes*/
$f1:'Fascinate', cursive;
$f2:fantasy;
$f3: 'Times New Roman', Times, serif;

//map
$fuentes:(
    text-large:60px,
    text-medium:50px,
    text-base:30px,
    text-small:25px,
)
