footer{
    
    background-color: $terciario;
    position: fixed;
    bottom: 0%;
    width: 100%;
    
    
   &,a{
    color: $bordes;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
   }
}
