
#bb{
    display: none;
}
 
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 10px;
        
    &:hover{
        background: rgba(0,0,0,0.3);
    }
    
}



.menus{
    list-style: none;
    font-size: x-large;
    text-transform: uppercase;
    background-color:$terciario;
     
    &_titulo{
        font-size:30px;


    }
}



ul{
    list-style: none;
    display: flex;
    
    justify-content:space-around;
    align-items: center;

    &,a{
        text-decoration: none;
        border: 2px solid $terciario;
        border-radius: 10px;
        transition: all 1s; 
        color:$bordes;

        :hover{
            border-color: $bordes;
        
        }
    }
}
@media (max-width:800px) and (min-width:360px) {
    header label{
        display:block;  
    }
    ul{
        position: absolute;
        background:$terciario;
        width: 60%;
        margin-left: -70%;
        transition: all 1s;
        z-index: 1;
        flex-direction:column ;
    }
    
    #bb:checked ~ ul{
        margin: 0;
    }
    
    
}