
#bb{
    display: none;
}
 
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 10px;

    &:hover{
        background: rgba(0,0,0,0.3);
    }
    
}



.menus{
    list-style: none;
    font-size: x-large;
    text-transform: uppercase;
    background-color:$terciario;
     
    &_titulo{
        font-size:30px;


    }
}



ul{
    list-style: none;
    display: flex;
    
    justify-content:space-around;
    align-items: center;

    &,a{
        text-decoration: none;
        cursor: pointer;
        border: 2px solid $terciario;
        border-radius: 10px;
        transition: all 1s; 
        color:$bordes;

        :hover{
            border-color: $bordes;
        }
    }
}
